<fieldset>
  <legend>✅ / ⛔ ToDo list:</legend>
</fieldset>
<div class="container">
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Add new todo:</mat-label>
    <input matInput #message maxlength="256" placeholder="Ex. Buy a milk...">
    <!-- <mat-hint align="start"><strong>Don't disclose personal info</strong></mat-hint> -->
    <!-- <mat-hint align="end">{{message.value.length}} / 256</mat-hint> -->
    <button (click)="addToDo()">TEST</button>
  </mat-form-field>
  
  
  <ng-container *ngFor="let toDo of toDos">
    <p>{{ toDo.firstName }}</p>
  </ng-container> 
</div>