<div class="container">
  <h2>✅ / ⛔ ToDo list:</h2>
  <hr>

  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Add new todo:</mat-label>
    <input matInput #message maxlength="256" placeholder="Ex. Buy a milk..." #data>
  </mat-form-field>
  <button (click)="addToDo(data)">Add</button>
  
  <ng-container *ngIf="toDos.length == 0; else haveToDos">
    <h1>Your list is empty...</h1>
  </ng-container>

  <ng-template #haveToDos>
    <app-to-do [allToDos]="toDos"></app-to-do>
  </ng-template>
</div>